
.main-carousel__item.bienmat {
    animation: bienmat 1s forwards;
}

@-webkit-keyframes bienmat {
    0% {
        left: 0%;
        visibility: visible;
        opacity: 1;
    }

    100% {
        left: -100%;
        visibility: hidden;
        opacity: 0;
    }
}

.main-carousel__item.divao {
    animation: divao 1s forwards;
}

@-webkit-keyframes divao {
    0% {
        left: 100%;
        visibility: hidden;
        opacity: 0;
    }

    100% {
        left: 0%;
        visibility: visible;
        opacity: 1;
    }
}

.main-carousel__item {
    width: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    visibility: hidden; 
    opacity: 0;
}

.main-carousel__item.active {
    visibility: visible;
    opacity: 1;
}

.main-carousel {
    overflow: hidden;
    width: 100% !important;
    height: 300px !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-carousel__item img {
    width: 70% !important;
}
